* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    background-color: hsl(257, 40%, 49%);
    font-family: 'Poppins', sans-serif;
    background-image: url(./images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 3rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;


}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 100px 400px 50px 50px;
    grid-template-areas: "logo logo . . . . . . . ."
        "cont cont cont cont cont cont side side side side"
        ". . . . . . . . . foot"
        ". . att att att att att att . .";
    ;


}

article {
    grid-area: att;
}

footer {
    grid-area: foot;
}

nav {
    grid-area: logo;

}

section {
    grid-area: cont;
    max-height: 40%;

}

section img {
    max-width: 90%;


}

aside {
    grid-area: side;
    max-width: 100%;
    max-height: 40%;
    padding: 2 4rem;
    line-height: 1.2;
    color: white;


}

aside h2 {
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 1.5rem;
}

aside p {
    font-weight: 400;
    color: hsl(300, 5%, 77%);
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

aside button {
    padding: 12px 50px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: none;
    color: hsl(257, 40%, 49%);
    cursor: pointer;
}

aside button:hover {
    background-color: hsla(300, 23%, 81%, 0.598);
    color: white;

}

footer .sm {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.sm div .fa-facebook-f, div .fa-twitter, div .fa-instagram {

    font-size: 1.6rem;
    color: hsla(0, 0%, 100%, 0.833);

}

.sm div a i:hover {
    color: rgb(94, 2, 69);
}

.sm div {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px hsla(300, 23%, 81%, 0.598);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 1.5rem;


    width: 50px;
    height: 50px;
}





.attribution {
    font-size: 13px;
    text-align: center;
    font-weight: 600;
    margin-top: 4rem;
}

.attribution a {
    color: hsl(229, 28%, 26%);
}

@media only screen and (max-width: 640px) {

    body {
        background-image: url(./images/bg-mobile.svg);
        background-repeat: no-repeat;
        background-size: contain;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        padding: 1rem;


    }

    .container {
        height: 100vh;
        grid-template-rows: 100px 1fr 1fr 50px 50px;
        grid-template-areas:
            "logo logo logo logo logo . . . . . "
            ". cont cont cont cont cont cont cont cont . "
            ". side side side side side side side side ."
            ". . . foot foot foot foot . . ."
            ". . att att att att att att . .";

        justify-content: center;
        align-items: center;

    }

    nav img {
        max-width: 100%;
        justify-content: flex-start;


    }

    aside {
        display: flex;
        flex-direction: column;

        justify-content: center;
    }


    section img {
        margin-top: -2rem;
        max-width: 100%;
    }

    aside h2 {
        margin-top: 4rem;
        padding: 0;
        font-size: 21px;
        text-align: center;
        line-height: 1.4
    }

    aside p {
        font-size: 13px;
        text-align: center;
        line-height: 1.7;
    }

    aside button {
        width: 70%;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 1rem;

    }

    .sm div .fa-facebook-f, div .fa-twitter, div .fa-instagram {
        /* margin-top: -2rem; */
        font-size: 1rem;
        color: hsla(0, 0%, 100%, 0.833);
    }

    .sm div {
        margin-right: 0;
        width: 35px;
        height: 35px;
    }

    div .attribution {
        font-size: 10px;
        text-align: center;
        font-weight: 600;
        margin-top: 3rem;
    }
}